html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #1E202A;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}


.app-layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.sidebar {
  width: 200px;
  height: 100vh;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    transition: left 0.3s;
    z-index: 10;
  }

  .sidebar.open {
    left: 0;
  }
  
}


.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  background: #1E202A;
  min-height: 100vh;  /* This ensures it fills at least the screen */
}

@media (max-width: 1024px) {
  .app-layout {
    flex-direction: column;
    align-items: stretch;
  }

  .sidebar {
    width: 100%;
    height: 100%;
  }
}